body {
    font-family: Arial, sans-serif;
    padding: 20px;
    overflow-x: hidden; /* Prevent horizontal scrolling on larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    margin-bottom: 20px;
}

#tree-container {
    min-height: 500px;
    position: relative;
    max-width: 100%;  /* Ensure the container doesn't stretch beyond its parent */
    overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
    overflow-y: auto; /* Allow vertical scrolling */
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#resultBox {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

#history-container {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

#history-list {
    list-style-type: none;
    padding: 0;
}

#history-list li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Dark mode styles */
.dark .bg-gray-200 {
    background-color: #3c4256;
}

.dark .bg-gray-300 {
    background-color: #303544;
}

.dark .bg-blue-500 {
    background-color: #3182ce;
}

.dark .bg-red-500 {
    background-color: #e53e3e;
}

.dark .text-white {
    color: #e2e8f0;
}

.dark .border-gray-300 {
    border-color: #4a5568;
}

.dark .focus\:ring-blue-500 {
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.5);
}

.dark {
    background-color: #2D3748;
}