body {
    font-family: 'Inter', sans-serif;
}

#tree-container {
    min-height: 500px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #cbd5e0;
    margin-bottom: 20px;
    padding: 10px;
    transition: border-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#history-list {
    overflow-y: auto;
}

#history-list li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button:hover {
    transition: background-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #3182ce;
    box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.5);
}

input:focus {
    z-index: 10;
}

@media (max-width: 1024px) {
    .lg\:w-1\/5 {
        width: 100%;
    }

    .lg\:w-3\/5 {
        width: 100%;
    }

    .lg\:block {
        display: none;
    }

    header ul {
        display: none;
    }
}

#historyMessage {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    padding-right: 0;
}

#historyText {
    display: inline-block;
    padding-left: 100%;
}

@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
