body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
}

#tree-container {
    min-height: 500px;
    max-width: 100%;
    border: 1px solid #cbd5e0;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    overflow: hidden; /* Ensure no scrolling */
}

#history-list {
    overflow-y: auto;
}

#history-list li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button:hover {
    transition: background-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #3182ce;
    box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.5);
}

input:focus {
    position: sticky;
    top: 70px;
    z-index: 10;
    background-color: #f9fafb;
}

@media (max-width: 1024px) {
    .lg\:w-1\/4 {
        width: 100%;
    }

    .lg\:flex {
        display: block;
    }

    .lg\:space-x-4 {
        margin-top: 10px;
    }
    
    header ul {
        display: none;
    }
}
